# Project exclude paths
/.gradle/
/gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/
/src/main/resources/
/.idea/
gradlew
gradlew.bat
core/src/main/resources/
gift-certificate-web-service/src/main/resources/
gift-certificate-web-service/build/
core/build/
core/src/test/resources/