<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5level] %d{ABSOLUTE} [%t] %c{2} - %msg%n" />
        </Console>
        <File name="tFile" fileName="log.log">
            <PatternLayout
                    pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{5} - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="tFile" />
            <AppenderRef ref="console" />
        </Root>

    </Loggers>
</Configuration>